doctype html
html(lang="pt-br")
	head
		meta(charset="UTF-8")
		link(rel="stylesheet", href="/stylesheets/style.css")
		title Digicom - Portal Transparência

	body
		div.master
			div.logo.center
				img(src="/img/logoDigicom.png")

			block content

			div.footer
				div.conteudo.center www.digithobrasil.com.br/digicom