@font-face {
  font-family: icomoon;
  src: url(../font/icomoon.eot?-xm0fo);
  src: url(../font/icomoon.eot?#iefix-xm0fo) format("embedded-opentype"), url(../font/icomoon.woff?-xm0fo) format("woff"), url(../font/icomoon.ttf?-xm0fo) format("truetype"), url(../font/icomoon.svg?-xm0fo#icomoon) format("svg");
  font-weight: 400;
  font-style: normal; }

[class^=icon-], [class*=" icon-"] {
  font-family: icomoon;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-calendar:before {
  content: "\e600"; }

.icon-attachment:before {
  content: "\e601"; }

.icon-pencil:before {
  content: "\e602"; }

.icon-coins:before {
  content: "\e603"; }

.icon-arrow-left:before {
  content: "\e604"; }

.icon-arrow-right:before {
  content: "\e605"; }

* {
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 14px;
  color: #000; }

html, body {
  background: #eee;
  color: #000;
  margin: 0;
  padding: 0;
  height: 100%; }

.esconder {
  display: none; }

.logo {
  text-align: center;
  padding: 25px 0; }

.master {
  position: relative;
  width: 100%;
  min-height: 100%; }
  .master div.conteudo form p label {
    text-align: right;
    display: inline-block;
    width: 10em;
    margin: 0 1em 0 0; }
  .master div.conteudo form p input[type="text"], .master div.conteudo form p input[type="date"], .master div.conteudo form p input[type="number"], .master div.conteudo form p input[type="password"], .master div.conteudo form p select {
    padding: 0.5em 0.6em;
    display: inline-block;
    border: 1px solid #ccc; }
  .master input[type="submit"], .master input[type="button"] {
    padding: 0.5em 1em;
    border: 0 rgba(0, 0, 0, 0);
    border-radius: 2px;
    margin-bottom: 2em;
    background-color: #f5883a;
    color: #fff;
    display: block;
    cursor: pointer; }
  .master input[type="button"] {
    margin-bottom: 0.5em;
    float: right; }

.center {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  min-width: 990px; }

.debito {
  color: #e61b23; }

.credito {
  color: #184faa; }

.navegacao {
  cursor: pointer;
  width: 40px;
  height: 150px;
  position: absolute;
  top: 50%;
  margin-top: -75px;
  background: rgba(245, 136, 58, 0.2); }
  .navegacao span {
    width: 30px;
    height: 30px;
    top: 50%;
    position: absolute;
    margin-top: -15px;
    color: #f5883a;
    font-size: 35px; }

.right {
  right: 0; }

.left {
  left: 0; }

h1 {
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 24px;
  color: #f5883a;
  text-align: center; }

table {
  width: 100%; }
  table thead {
    background-color: #f5883a; }
    table thead tr td {
      font-family: Arial, Helvetica, Sans-Serif;
      font-size: 16px;
      color: #fff;
      padding: 6px;
      text-align: center; }
      table thead tr td span {
        margin: 0 5px;
        font-family: Arial, Helvetica, Sans-Serif;
        font-size: 18px;
        color: #fff; }
      table thead tr td:nth-child(3) {
        width: 500px; }
  table tbody {
    text-align: center; }
    table tbody tr {
      border-top: solid 1px red;
      background-color: #f8f8f8; }
      table tbody tr:hover {
        background-color: #fff; }
      table tbody tr td {
        font-family: Arial, Helvetica, Sans-Serif;
        font-size: 14px;
        color: #000;
        padding: 12px; }
        table tbody tr td:last-child {
          text-align: right;
          font-weight: 700; }
  table tfoot tr td.descricao {
    background-color: #f2b082;
    text-align: left;
    font-family: Arial, Helvetica, Sans-Serif;
    font-size: 17px;
    color: #fff;
    float: right;
    width: 100px; }
  table tfoot tr td {
    padding: 5px;
    position: relative; }
    table tfoot tr td .resultado {
      float: right;
      font-family: Arial, Helvetica, Sans-Serif;
      font-size: 17px;
      color: #fff;
      display: inline-block; }
    table tfoot tr td:last-child {
      background-color: #f2b082;
      text-align: left;
      font-family: Arial, Helvetica, Sans-Serif;
      font-size: 17px;
      color: #fff; }

.footer {
  background-color: #f5883a;
  padding: 20px 0;
  bottom: 0;
  width: 100%;
  margin-top: 100px; }
  .footer .conteudo {
    font-family: Arial, Helvetica, Sans-Serif;
    font-size: 14px;
    color: #fff; }
