h1 Lançamentos

div.conteudo.center
	div#abas
		ul
			li
				a(href="#debito") Debito
			li
				a(href="#credito") Crédito

		div#debito
			form(method="post", action="/lancamento/salvar")
				input(type="hidden" name="lancamento[natureza]" value="Débito")

				p
					label(for="mesDoDebito") Mês:
					select(id='mesDoDebito', name="lancamento[mes]", required)
						option(selected="selected", value="")
						option(value="1") Jan
						option(value="2") Fev
						option(value="3") Mar
						option(value="4") Abr
						option(value="5") Mai
						option(value="6") Jun
						option(value="7") Jul
						option(value="8") Ago
						option(value="9") Set
						option(value="10") Out
						option(value="11") Nov
						option(value="12") Dez

				p
					label(for="anoDoDebito") Ano:
					select(id='anoDoDebito', name="lancamento[ano]", required)
						option(selected="selected", value="")
						option(value="2013") 2013
						option(value="2014") 2014
						option(value="2015") 2015

				p
					label(for="comprovante") Comprovante:
					select(id="comprovante", name="lancamento[comprovante]")
						option(selected="selected", value="")
						option(value="Nota Fiscal") Nota Fiscal
						option(value="Cupom Fiscal") Cupom Fiscal
						option(value="Recibo") Recibo

				p
					label(for="fornecedor") Fornecedor: 
					input(id="fornecedor", type="text", name="lancamento[fornecedor]")

				p
					label(for="detalhesDoDebito") Detalhes da compra: 
					input(id="detalhesDoDebito", type="text", name="lancamento[detalhes]")

				p
					label(for="valorDoDebito") Valor: 
					input(id="valorDoDebito", type="number", min="0.01", step="0.01", max="10000", name="lancamento[valor]")

				input(type="submit", value="Salvar")

		div#credito
			form(method="post", action="/lancamento/salvar")
				input(type="hidden" name="lancamento[natureza]" value="Crédito")

				p
					label(for="mesDoCredito") Mês:
					select(id='mesDoCredito', name="lancamento[mes]", required)
						option(selected="selected", value="")
						option(value="1") Jan
						option(value="2") Fev
						option(value="3") Mar
						option(value="4") Abr
						option(value="5") Mai
						option(value="6") Jun
						option(value="7") Jul
						option(value="8") Ago
						option(value="9") Set
						option(value="10") Out
						option(value="11") Nov
						option(value="12") Dez

				p
					label(for="anoDoCredito") Ano:
					select(id='anoDoCredito', name="lancamento[ano]", required)
						option(selected="selected", value="")
						option(value="2013") 2013
						option(value="2014") 2014
						option(value="2015") 2015

				p
					label(for="datalhesDoCredito") Detalhes do crédito: 
					input(id="datalhesDoCredito", type="text", name="lancamento[detalhes]")

				p
					label(for="valorDoCredito") Valor: 
					input(id="valorDoCredito", type="number", min="0.01", step="0.01", max="10000", name="lancamento[valor]")

				input(type="submit", value="Salvar")

script(type="text/javascript").
	$('#abas').tabs()

	$('#natureza').on('change', function() {
		$('p.esconder').hide();
		$('#comprovante, #fornecedor, #detalhes, #valor').removeAttr('required', 'required');

		var natureza = this.value;

		if (natureza == 'Débito') {
			$('p.esconder').show();
			$('#comprovante, #fornecedor, #detalhes, #valor').attr('required', 'required');
		}

		if (natureza == 'Crédito') {
			$('p.esconder').filter(function() { return $(this).find('#detalhes, #valor').length > 0; }).show();
			$('#detalhes, #valor').attr('required', 'required');
		}
	});