extends ../layout

block content
	h1 Lançamentos

	div.conteudo.center
		form(method="post", action="/lancamento/salvar")
			p
				label(for="data") Data:
				input(id="data", type="date", name="lancamento[data]", required)

			p
				label(for="natureza") Natureza:
				select(id="natureza", name="lancamento[natureza]", required)
					option(selected="selected", value="")
					option(value="Receita") Receita
					option(value="Despesa") Despesa

			p
				label(for="finalidade") Finalidade: 
				input(id="finalidade", type="text", name="lancamento[finalidade]", required)

			p
				label(for="detalhesDaCompra") Detalhes da compra: 
				input(id="detalhesDaCompra", type="text", name="lancamento[detalhesDaCompra]")

			p
				label(for="valor") Valor: 
				input(id="valor", type="number", min="0.01", step="0.01", max="10000", name="lancamento[valor]", required)

			input(type="submit", value="Salvar")
			a(href="/lancamento") < Voltar