extends ../layout

block content
	h1 Lançamento de custos

	form(method="post", action="/logon")
		p
			label(for="login") Login:
			input(id="login", name="login", required)

		p
			label(for="Senha") Senha:
			input(id="Senha", type="password", name="senha", required)

		input(type="submit", value="Salvar")

	a(href="/lancamento") < Voltar