extends ../layout

block content
	h1 Lançamento de custos

	div.conteudo.center
		form(method="post", action="/logon")
			p
				label(for="login") Login:
				input(id="login", type="text", name="login", required)

			p
				label(for="Senha") Senha:
				input(id="Senha", type="password", name="senha", required)

			input(type="submit", value="Acessar")
			a(href="/lancamento") < Voltar